*{
    margin: 0px;
    padding:0px;
}
.layui-nav-tree{
    width:210px;
    height:635px;
}
#left-ul{
    padding-top:60px;
}
#admin-index-container{
    width:1156px;
    height:635px;
    position: absolute;
    right:0px;
    top:0px;
}
#container-title{
    width:960px;
    height:60px;
    font-size:30px;
    position:absolute;
    right:195px;
    top:0px;
    z-index:1;
    text-align:center;
    padding-top:10px;
}
#content{
    width:1178px;
    height:570px;
    clear:both;
}